// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
    a,h2{
        color: #fff;
    }
}

.comment {
    list-style-type: none;
    li {
        padding: 2rem;
        margin: 1rem;
    }
}